In [1]:
import pandas as pd

#### deaths

In [2]:
deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv', sep=',')
print(deaths.shape)
deaths.head()

(279, 650)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/19/21,10/20/21,10/21/21,10/22/21,10/23/21,10/24/21,10/25/21,10/26/21,10/27/21,10/28/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7247,7247,7249,7252,7253,7255,7260,7262,7266,7268
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2841,2849,2855,2863,2870,2874,2880,2888,2893,2902
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,5875,5878,5881,5883,5886,5890,5894,5899,5904,5907
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,130,130,130,130,130,130,130,130,130,130
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1678,1682,1685,1693,1695,1697,1701,1702,1703,1705

In [3]:
deaths = pd.melt(deaths, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                  var_name="Date", value_name="Deaths")
deaths.head()

  Province/State Country/Region       Lat       Long     Date  Deaths
0            NaN    Afghanistan  33.93911  67.709953  1/22/20       0
1            NaN        Albania  41.15330  20.168300  1/22/20       0
2            NaN        Algeria  28.03390   1.659600  1/22/20       0
3            NaN        Andorra  42.50630   1.521800  1/22/20       0
4            NaN         Angola -11.20270  17.873900  1/22/20       0

In [4]:
deaths = deaths[['Country/Region', 'Date', 'Deaths']].groupby(['Country/Region', 'Date']).max().reset_index()
deaths.head()

  Country/Region     Date  Deaths
0    Afghanistan   1/1/21    2201
1    Afghanistan  1/10/21    2277
2    Afghanistan  1/11/21    2288
3    Afghanistan  1/12/21    2301
4    Afghanistan  1/13/21    2308

In [5]:
def to_short_date(df):
    df['year'] = '20' + df.Date.str.split('/').str[2]

    df['day'] = df.Date.str.split('/').str[1]
    df['day'][df['day'].astype(int)<10] = '0' + df['day'][df['day'].astype(int)<10]

    df['month'] = df.Date.str.split('/').str[0]
    df['month'][df['month'].astype(int)<10] = '0' + df['month'][df['month'].astype(int)<10]
    
    df['Date'] = pd.to_datetime(df['year'] + '-' + df['month'] + '-' + df['day'])
    
    df.drop(columns=['day', 'year', 'month'], inplace=True)
    df.rename(columns={'Country/Region':'Country'}, inplace=True)
    return df

In [6]:
deaths = to_short_date(deaths)
deaths.head()

C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/2708416184.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'][df['day'].astype(int)<10] = '0' + df['day'][df['day'].astype(int)<10]
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/2708416184.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'][df['month'].astype(int)<10] = '0' + df['month'][df['month'].astype(int)<10]

       Country       Date  Deaths
0  Afghanistan 2021-01-01    2201
1  Afghanistan 2021-01-10    2277
2  Afghanistan 2021-01-11    2288
3  Afghanistan 2021-01-12    2301
4  Afghanistan 2021-01-13    2308

#### confirmed

In [7]:
confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', sep=',')
print(confirmed.shape)
confirmed.head()

(279, 650)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/19/21,10/20/21,10/21/21,10/22/21,10/23/21,10/24/21,10/25/21,10/26/21,10/27/21,10/28/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,155801,155859,155891,155931,155940,155944,156040,156071,156124,156166
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,178804,179463,180029,180623,181252,181696,181960,182610,183282,183873
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,205453,205529,205599,205683,205750,205822,205903,205990,206069,206160
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,15369,15382,15382,15404,15404,15404,15425,15425,15462,15505
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,63197,63340,63567,63691,63775,63861,63930,64033,64126,64226

In [8]:
confirmed = pd.melt(confirmed, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                  var_name="Date", value_name="Confirmed")
confirmed.head()

  Province/State Country/Region       Lat       Long     Date  Confirmed
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

In [9]:
confirmed = confirmed[['Country/Region', 'Date', 'Confirmed']].groupby(['Country/Region', 'Date']).max().reset_index()
confirmed.head()

  Country/Region     Date  Confirmed
0    Afghanistan   1/1/21      52513
1    Afghanistan  1/10/21      53489
2    Afghanistan  1/11/21      53538
3    Afghanistan  1/12/21      53584
4    Afghanistan  1/13/21      53690

In [10]:
confirmed = to_short_date(confirmed)
confirmed.head()

C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/2708416184.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'][df['day'].astype(int)<10] = '0' + df['day'][df['day'].astype(int)<10]
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/2708416184.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'][df['month'].astype(int)<10] = '0' + df['month'][df['month'].astype(int)<10]

       Country       Date  Confirmed
0  Afghanistan 2021-01-01      52513
1  Afghanistan 2021-01-10      53489
2  Afghanistan 2021-01-11      53538
3  Afghanistan 2021-01-12      53584
4  Afghanistan 2021-01-13      53690

#### recovered

In [11]:
recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv', sep=',')
print(recovered.shape)
recovered.head()

(264, 650)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/19/21,10/20/21,10/21/21,10/22/21,10/23/21,10/24/21,10/25/21,10/26/21,10/27/21,10/28/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
recovered = pd.melt(recovered, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                  var_name="Date", value_name="Recovered")
recovered.head()

  Province/State Country/Region       Lat       Long     Date  Recovered
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

In [13]:
recovered = recovered[['Country/Region', 'Date', 'Recovered']].groupby(['Country/Region', 'Date']).max().reset_index()
recovered.head()

  Country/Region     Date  Recovered
0    Afghanistan   1/1/21      41727
1    Afghanistan  1/10/21      43948
2    Afghanistan  1/11/21      44137
3    Afghanistan  1/12/21      44608
4    Afghanistan  1/13/21      44850

In [14]:
recovered = to_short_date(recovered)
recovered.head()

C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/2708416184.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'][df['day'].astype(int)<10] = '0' + df['day'][df['day'].astype(int)<10]
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/2708416184.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'][df['month'].astype(int)<10] = '0' + df['month'][df['month'].astype(int)<10]

       Country       Date  Recovered
0  Afghanistan 2021-01-01      41727
1  Afghanistan 2021-01-10      43948
2  Afghanistan 2021-01-11      44137
3  Afghanistan 2021-01-12      44608
4  Afghanistan 2021-01-13      44850

#### vaccinated

In [15]:
vaccinated = pd.read_csv('https://raw.githubusercontent.com/govex/COVID-19/master/data_tables/vaccine_data/global_data/time_series_covid19_vaccine_global.csv', sep=',')
print(vaccinated.shape)
vaccinated.head()

(96156, 8)

,Country_Region,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated,Report_Date_String,UID,Province_State
0,Afghanistan,2021-02-22,0,0.0,0.0,2021-02-22,4.0,NaN
1,Afghanistan,2021-02-23,0,0.0,0.0,2021-02-23,4.0,NaN
2,Afghanistan,2021-02-24,0,0.0,0.0,2021-02-24,4.0,NaN
3,Afghanistan,2021-02-25,0,0.0,0.0,2021-02-25,4.0,NaN
4,Afghanistan,2021-02-26,0,0.0,0.0,2021-02-26,4.0,NaN

In [16]:
vaccinated.isna().sum()

Country_Region                     0
Date                               0
Doses_admin                        0
People_partially_vaccinated    54873
People_fully_vaccinated        54873
Report_Date_String                 0
UID                              368
Province_State                 41929
dtype: int64

In [17]:
vaccinated = vaccinated[['Country_Region', 'Date', 'Doses_admin', 'People_partially_vaccinated',
       'People_fully_vaccinated']].fillna(0).groupby(['Country_Region', 'Date']).max().reset_index()
vaccinated.head()

,Country_Region,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated
0,Afghanistan,2021-02-22,0,0.0,0.0
1,Afghanistan,2021-02-23,0,0.0,0.0
2,Afghanistan,2021-02-24,0,0.0,0.0
3,Afghanistan,2021-02-25,0,0.0,0.0
4,Afghanistan,2021-02-26,0,0.0,0.0

In [18]:
vaccinated.rename(columns={'Country_Region':'Country'}, inplace=True)
vaccinated.head()

,Country,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated
0,Afghanistan,2021-02-22,0,0.0,0.0
1,Afghanistan,2021-02-23,0,0.0,0.0
2,Afghanistan,2021-02-24,0,0.0,0.0
3,Afghanistan,2021-02-25,0,0.0,0.0
4,Afghanistan,2021-02-26,0,0.0,0.0

In [19]:
vaccinated.Date = pd.to_datetime(vaccinated.Date)
vaccinated.head()

,Country,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated
0,Afghanistan,2021-02-22,0,0.0,0.0
1,Afghanistan,2021-02-23,0,0.0,0.0
2,Afghanistan,2021-02-24,0,0.0,0.0
3,Afghanistan,2021-02-25,0,0.0,0.0
4,Afghanistan,2021-02-26,0,0.0,0.0

In [20]:
vaccinated.shape, confirmed.shape, deaths.shape, recovered.shape

((41929, 5), (125970, 3), (125970, 3), (125970, 3))

In [21]:
vaccinated.Date.min(), confirmed.Date.min()

(Timestamp('2020-12-14 00:00:00'), Timestamp('2020-01-22 00:00:00'))

In [22]:
join = vaccinated.merge(confirmed, how='outer', on=['Country', 'Date']). \
merge(deaths, how='outer', on=['Country', 'Date']). \
merge(recovered, how='outer', on=['Country', 'Date'])

join.head()

,Country,Date,Doses_admin,People_partially_vaccinated,People_fully_vaccinated,Confirmed,Deaths,Recovered
0,Afghanistan,2021-02-22,0.0,0.0,0.0,55617.0,2433.0,48895.0
1,Afghanistan,2021-02-23,0.0,0.0,0.0,55646.0,2435.0,48967.0
2,Afghanistan,2021-02-24,0.0,0.0,0.0,55664.0,2436.0,49086.0
3,Afghanistan,2021-02-25,0.0,0.0,0.0,55680.0,2438.0,49281.0
4,Afghanistan,2021-02-26,0.0,0.0,0.0,55696.0,2442.0,49285.0

In [23]:
join.describe()

,Doses_admin,People_partially_vaccinated,People_fully_vaccinated,Confirmed,Deaths,Recovered
count,4.192900e+04,4.192900e+04,4.192900e+04,1.259700e+05,125970.000000,1.259700e+05
mean,3.839447e+07,2.108011e+07,1.339537e+07,4.556979e+05,10329.954283,1.862196e+05
std,3.134376e+08,1.713238e+08,1.190715e+08,2.373543e+06,45975.738654,1.100543e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,1.428640e+05,8.613100e+04,1.040500e+04,6.560000e+02,8.000000,0.000000e+00
50%,1.092948e+06,6.875520e+05,2.693120e+05,1.301350e+04,196.000000,2.006500e+03
75%,6.611076e+06,3.890947e+06,2.164079e+06,1.511550e+05,2772.000000,4.436725e+04
max,6.899967e+09,3.782820e+09,2.924783e+09,4.582610e+07,743358.000000,3.097475e+07

In [24]:
join.isna().sum()

Country                            0
Date                               0
Doses_admin                    84529
People_partially_vaccinated    84529
People_fully_vaccinated        84529
Confirmed                        488
Deaths                           488
Recovered                        488
dtype: int64

In [25]:
import world_bank_data as wb
def actualize(df):
    df.reset_index(inplace=True)
    title = df['Series'].iloc[0]
    df.dropna(inplace=True)
    df['Actual_year'] = df.groupby('Country').Year.transform('max')
    df = df[df.Actual_year==df.Year]
    df.drop(columns=['Series','Year', 'Actual_year'], axis=1, inplace=True)
    df.columns = ['Country', title]
    return df

def actualize_2(df):
    df.reset_index(inplace=True)

    df.dropna(inplace=True)
    df['Actual_year'] = df.groupby('Country').Year.transform('max')
    df = df[df.Actual_year==df.Year]
    df.drop(columns=['Year', 'Actual_year'], axis=1, inplace=True)
    return df



df = actualize(pd.DataFrame(wb.get_series('SP.POP.TOTL')))
df2 = actualize_2(pd.DataFrame(wb.get_series('SP.POP.TOTL', id_or_value='id')))

population = df.merge(df2[['Country']], left_index=True, right_index=True). \
rename(columns={'Country_y':'ISO', 'Country_x':'Country'})


population.Country[population.Country.str.contains('Iran', case=False)] ='Iran'
population.Country[population.Country.str.contains('Korea, Rep.', case=False)] = 'Korea, South'
population.Country[population.Country.str.contains('Kyrgyz', case=False)] = 'Kyrgyzstan'
population.Country[population.Country.str.contains('Lao', case=False)] = 'Laos'
population.Country[population.Country.str.contains('Czech', case=False)] = 'Czechia'
population.Country[population.Country.str.contains('Micronesia', case=False)] = 'Micronesia'
population.Country[population.Country.str.contains('Russia', case=False)] = 'Russia'
population.Country[population.Country.str.contains('Kitts', case=False)] = 'Saint Kitts and Nevis'
population.Country[population.Country.str.contains('Myanmar', case=False)] = 'Burma'
population.Country[population.Country.str.contains('Vincent', case=False)] = 'Saint Vincent and the Grenadines'
population.Country[population.Country.str.contains('Slovak', case=False)] = 'Slovakia'
population.Country[population.Country.str.contains('Syr', case=False)] = 'Syria'
population.Country[population.Country.str.contains('United States', case=False)] = 'US (Aggregate)'
population.Country[population.Country.str.contains('Venezuela', case=False)] = 'Venezuela'
population.Country[population.Country.str.contains('Bahamas', case=False)] = 'Bahamas'
population.Country[population.Country.str.contains('Brunei', case=False)] = 'Brunei'
population.Country[population.Country.str.contains('Egypt', case=False)] = 'Egypt'
population.Country[population.Country.str.contains('Gambia', case=False)] = 'Gambia'
population.Country[population.Country.str.contains('Lucia', case=False)] = 'Saint Lucia'
sorted(set(join.Country) - set(population.Country))



join = join.merge(population, how='inner', on='Country')


join.drop(columns=['Doses_admin', 'ISO'], inplace=True)

C:\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Iran', case=False)] ='Iran'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Korea, Rep.', case=False)] = 'Korea, South'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Kyrgyz', case=False)] = 'Kyrgyzstan'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Lao', case=False)] = 'Laos'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Czech', case=False)] = 'Czechia'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Micronesia', case=False)] = 'Micronesia'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Russia', case=False)] = 'Russia'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Kitts', case=False)] = 'Saint Kitts and Nevis'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Myanmar', case=False)] = 'Burma'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Vincent', case=False)] = 'Saint Vincent and the Grenadines'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Slovak', case=False)] = 'Slovakia'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Syr', case=False)] = 'Syria'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('United States', case=False)] = 'US (Aggregate)'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Venezuela', case=False)] = 'Venezuela'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Bahamas', case=False)] = 'Bahamas'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Brunei', case=False)] = 'Brunei'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Egypt', case=False)] = 'Egypt'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Gambia', case=False)] = 'Gambia'
C:\Users\4880~1\AppData\Local\Temp/ipykernel_5368/3260266912.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Country[population.Country.str.contains('Lucia', case=False)] = 'Saint Lucia'

In [26]:
join.sort_values(['Country', 'Date'], inplace=True)
join.head()

,Country,Date,People_partially_vaccinated,People_fully_vaccinated,Confirmed,Deaths,Recovered,"Population, total"
244,Afghanistan,2020-01-22,NaN,NaN,0.0,0.0,0.0,38928341.0
246,Afghanistan,2020-01-23,NaN,NaN,0.0,0.0,0.0,38928341.0
248,Afghanistan,2020-01-24,NaN,NaN,0.0,0.0,0.0,38928341.0
250,Afghanistan,2020-01-25,NaN,NaN,0.0,0.0,0.0,38928341.0
252,Afghanistan,2020-01-26,NaN,NaN,0.0,0.0,0.0,38928341.0

In [27]:
join['vaccinated_partially_share'] = join.People_partially_vaccinated / join['Population, total'] * 100
join['vaccinated_fully_share'] = join.People_fully_vaccinated / join['Population, total'] * 100

In [28]:
for column in ['People_partially_vaccinated', 'People_fully_vaccinated', 'Deaths', 'Confirmed']:
    for lag in [1, 7, 14, 20, 30, 40, 60]: #[1, 3, 7, 10, 14, 20, 25, 30, 40, 50, 60]:
        join[column + '_' + str(lag) + '_lag'] = (join[column] / join[column].shift(lag) - 1) * 100
join.head()

,Country,Date,People_partially_vaccinated,People_fully_vaccinated,Confirmed,Deaths,Recovered,"Population, total",vaccinated_partially_share,vaccinated_fully_share,...,Deaths_30_lag,Deaths_40_lag,Deaths_60_lag,Confirmed_1_lag,Confirmed_7_lag,Confirmed_14_lag,Confirmed_20_lag,Confirmed_30_lag,Confirmed_40_lag,Confirmed_60_lag
244,Afghanistan,2020-01-22,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,Afghanistan,2020-01-23,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Afghanistan,2020-01-24,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,Afghanistan,2020-01-25,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,Afghanistan,2020-01-26,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
for column in ['People_partially_vaccinated', 'People_fully_vaccinated', 'Deaths', 'Confirmed']:
    for lag in [1, 7, 14, 20, 30, 40, 60]: #[1, 3, 7, 10, 14, 20, 25, 30, 40, 50, 60]:
        join[column + '_' + str(lag) + '_lag'] = (join[column] / join.groupby(['Country'])[column].shift(lag) - 1) * 100

join.head()

,Country,Date,People_partially_vaccinated,People_fully_vaccinated,Confirmed,Deaths,Recovered,"Population, total",vaccinated_partially_share,vaccinated_fully_share,...,Deaths_30_lag,Deaths_40_lag,Deaths_60_lag,Confirmed_1_lag,Confirmed_7_lag,Confirmed_14_lag,Confirmed_20_lag,Confirmed_30_lag,Confirmed_40_lag,Confirmed_60_lag
244,Afghanistan,2020-01-22,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,Afghanistan,2020-01-23,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Afghanistan,2020-01-24,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,Afghanistan,2020-01-25,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,Afghanistan,2020-01-26,NaN,NaN,0.0,0.0,0.0,38928341.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
join['Deaths'] = (join['Deaths'] - join.groupby(['Country'])['Deaths'].shift(lag))

In [31]:
from scipy.stats import mannwhitneyu, ttest_ind, levene
import numpy as np
pd.set_option('use_inf_as_na', True)
pd.set_option("display.max_columns", 100)

## АБ тест для динамических долей, если margin = 20 то группа вакцинированные имеет уровень вакцинации больше 20%, а группа невакцинированные до 20% и тд.

In [32]:
res = dict()
margin_ls = []

ttest_change_ls = []
mannwhitneyu_change_ls = []
x_change_means = []
y_change_means = []
x_change_median = []
y_change_median = []
var_change = []
cnt_change = []

ttest_abs_ls = []
mannwhitneyu_abs_ls = []
x_abs_means = []
y_abs_means = []
x_abs_median = []
y_abs_median = []
var_abs = []
cnt_abs = []
for margin in [20, 30, 40, 50, 60 ,70, 80]:
    
    x = join[(join.vaccinated_fully_share>=margin)&(join.People_partially_vaccinated>0)].dropna().Deaths_1_lag
    y = join[(join.vaccinated_fully_share<margin)&(join.People_partially_vaccinated>0)].dropna().Deaths_1_lag
    
    equal_variance = levene(x, y)[1] >=0.05
    var_change.append(equal_variance)
    margin_ls.append(margin)
    ttest_change_ls.append(ttest_ind(x, y, equal_var=equal_variance)[1])
    mannwhitneyu_change_ls.append(mannwhitneyu(x, y)[1])
    x_change_means.append(x.mean())
    y_change_means.append(y.mean())
    x_change_median.append(x.median())
    y_change_median.append(y.median())
    cnt_change.append((x.shape[0], y.shape[0]))
    
    x = join[(join.vaccinated_fully_share>=margin)&(join.People_partially_vaccinated>0)].dropna().Deaths
    y = join[(join.vaccinated_fully_share<margin)&(join.People_partially_vaccinated>0)].dropna().Deaths
    
    equal_variance = levene(x, y)[1] >=0.05
    var_abs.append(equal_variance)
    ttest_abs_ls.append(ttest_ind(x, y, equal_var=equal_variance)[1])
    mannwhitneyu_abs_ls.append(mannwhitneyu(x, y)[1])
    x_abs_means.append(x.mean())
    y_abs_means.append(y.mean())
    x_abs_median.append(x.median())
    y_abs_median.append(y.median())
    cnt_abs.append((x.shape[0], y.shape[0]))

In [33]:
res['Процент вакцинированных'] = margin_ls

res['Вероятность ошибки mannwhitneyu для темпа роста смертности'] = mannwhitneyu_change_ls
res['Вероятность ошибки ttest для темпа роста смертности'] = ttest_change_ls
res['Средний прирост смертности за 1 день для вакцинированных'] = x_change_means
res['Средний прирост смертности за 1 день для невакцинированных'] = y_change_means
res['Разница среднего прироста смертности %'] = (np.array(y_change_means) - np.array(x_change_means)) / \
np.array(x_change_means) * 100

res['Медианный прирост смертности за 1 день для вакцинированных'] = x_change_median
res['Медианный прирост смертности за 1 день для невакцинированных'] = y_change_median
res['Разница медианы прироста смертности %'] = (np.array(y_change_median) - np.array(x_change_median)) / \
np.array(x_change_median) * 100

res['Дисперсии прироста смертности групп равны'] = var_change
res['Кол-во наблюдений для прироста смертности'] = cnt_abs


res['Вероятность ошибки mannwhitneyu для кол-ва смертей'] = mannwhitneyu_abs_ls
res['Вероятность ошибки ttest для кол-ва смертей'] = ttest_abs_ls
res['Среднее кол-во смертей за 1 день для вакцинированных'] = x_abs_means
res['Среднее кол-во смертей за 1 день для невакцинированных'] = y_abs_means
res['Разница среднего кол-ва смертей %'] = (np.array(y_abs_means) - np.array(x_abs_means)) / np.array(x_abs_means) * 100

res['Медиана кол-ва смертей за 1 день для вакцинированных'] = x_abs_median
res['Медиана кол-ва смертей за 1 день для невакцинированных'] = y_abs_median
res['Разница медианы кол-ва смертей %'] = (np.array(y_abs_median) - np.array(x_abs_median)) / np.array(x_abs_median) * 100
res['Дисперсии кол-ва смертей групп равны'] = var_abs
res['Кол-во наблюдений для кол-ва смертей'] = cnt_abs

In [34]:
pd.DataFrame().from_dict(res)

,Процент вакцинированных,Вероятность ошибки mannwhitneyu для темпа роста смертности,Вероятность ошибки ttest для темпа роста смертности,Средний прирост смертности за 1 день для вакцинированных,Средний прирост смертности за 1 день для невакцинированных,Разница среднего прироста смертности %,Медианный прирост смертности за 1 день для вакцинированных,Медианный прирост смертности за 1 день для невакцинированных,Разница медианы прироста смертности %,Дисперсии прироста смертности групп равны,Кол-во наблюдений для прироста смертности,Вероятность ошибки mannwhitneyu для кол-ва смертей,Вероятность ошибки ttest для кол-ва смертей,Среднее кол-во смертей за 1 день для вакцинированных,Среднее кол-во смертей за 1 день для невакцинированных,Разница среднего кол-ва смертей %,Медиана кол-ва смертей за 1 день для вакцинированных,Медиана кол-ва смертей за 1 день для невакцинированных,Разница медианы кол-ва смертей %,Дисперсии кол-ва смертей групп равны,Кол-во наблюдений для кол-ва смертей
0,20,5.761522e-261,5.058702e-16,0.321180,0.557925,73.710802,0.042269,0.186393,340.964274,False,"(10792, 11265)",5.428945e-223,5.201616e-105,2564.593032,7064.658233,175.468979,306.0,788.0,157.516340,False,"(10792, 11265)"
1,30,1.464704e-280,2.078540e-17,0.303218,0.524638,73.023549,0.031451,0.163929,421.213802,False,"(8223, 13834)",0.000000e+00,2.762669e-167,1840.991974,6659.099754,261.712590,235.0,737.5,213.829787,False,"(8223, 13834)"
2,40,2.520512e-238,1.241580e-15,0.294287,0.500454,70.056418,0.027651,0.145703,426.933698,False,"(6244, 15813)",1.888341e-303,9.697042e-218,1391.382607,6233.647632,348.018223,195.0,670.0,243.589744,False,"(6244, 15813)"
3,50,1.996197e-218,9.680681e-26,0.249929,0.491564,96.681218,0.023673,0.132634,460.267323,False,"(4516, 17541)",7.619640e-231,1.909636e-240,1190.808902,5808.264637,387.757912,193.0,610.0,216.062176,False,"(4516, 17541)"
4,60,4.164167e-163,1.631349e-12,0.275112,0.465039,69.035786,0.017513,0.121017,591.004550,False,"(2665, 19392)",3.092242e-196,1.468498e-260,973.477298,5397.387892,454.444146,127.0,576.5,353.937008,False,"(2665, 19392)"
5,70,4.325786e-72,3.812680e-06,0.285569,0.449969,57.569486,0.016540,0.107044,547.186468,False,"(1057, 21000)",2.552642e-108,8.021119e-266,698.090823,5072.503857,626.625203,111.0,535.0,381.981982,False,"(1057, 21000)"
6,80,1.972994e-01,2.474926e-03,0.935161,0.438760,-53.081832,0.046981,0.098232,109.086432,False,"(148, 21909)",2.969918e-13,0.000000e+00,247.621622,4894.053357,1876.424080,147.0,504.0,242.857143,False,"(148, 21909)"

## АБ тест для статичных долей, невакцинированные - это те у кого доля вакцинированных меньше 20%, вакцинированные те у кого % вакцинации равен от 20 до 40, от 30 до 50 и тд, т.е. с шагом 20%, группа невакцинированных не меняется

In [35]:
res = dict()
margin_ls = []

ttest_change_ls = []
mannwhitneyu_change_ls = []
x_change_means = []
y_change_means = []
x_change_median = []
y_change_median = []
var_change = []
cnt_change = []

ttest_abs_ls = []
mannwhitneyu_abs_ls = []
x_abs_means = []
y_abs_means = []
x_abs_median = []
y_abs_median = []
var_abs = []
cnt_abs = []
for margin in [20, 30, 40, 50, 60 ,70, 80]:
    
    x = join[(join.vaccinated_fully_share>=margin)].dropna().Deaths_1_lag
    y = join[(join.vaccinated_fully_share<20)].dropna().Deaths_1_lag
    
    equal_variance = levene(x, y)[1] >=0.05
    var_change.append(equal_variance)
    margin_ls.append(margin)
    ttest_change_ls.append(ttest_ind(x, y, equal_var=equal_variance)[1])
    mannwhitneyu_change_ls.append(mannwhitneyu(x, y)[1])
    x_change_means.append(x.mean())
    y_change_means.append(y.mean())
    x_change_median.append(x.median())
    y_change_median.append(y.median())
    cnt_change.append((x.shape[0], y.shape[0]))
    
    x = join[(join.vaccinated_fully_share>=margin)&(join.vaccinated_fully_share<=margin+20)].dropna().Deaths
    y = join[(join.vaccinated_fully_share<20)].dropna().Deaths
    
    equal_variance = levene(x, y)[1] >=0.05
    var_abs.append(equal_variance)
    ttest_abs_ls.append(ttest_ind(x, y, equal_var=equal_variance)[1])
    mannwhitneyu_abs_ls.append(mannwhitneyu(x, y)[1])
    x_abs_means.append(x.mean())
    y_abs_means.append(y.mean())
    x_abs_median.append(x.median())
    y_abs_median.append(y.median())
    cnt_abs.append((x.shape[0], y.shape[0]))

In [36]:
res['Процент вакцинированных'] = margin_ls

res['Вероятность ошибки mannwhitneyu для темпа роста смертности'] = mannwhitneyu_change_ls
res['Вероятность ошибки ttest для темпа роста смертности'] = ttest_change_ls
res['Средний прирост смертности за 1 день для вакцинированных'] = x_change_means
res['Средний прирост смертности за 1 день для невакцинированных'] = y_change_means
res['Разница среднего прироста смертности %'] = (np.array(y_change_means) - np.array(x_change_means)) / \
np.array(x_change_means) * 100

res['Медианный прирост смертности за 1 день для вакцинированных'] = x_change_median
res['Медианный прирост смертности за 1 день для невакцинированных'] = y_change_median
res['Разница медианы прироста смертности %'] = (np.array(y_change_median) - np.array(x_change_median)) / \
np.array(x_change_median) * 100

res['Дисперсии прироста смертности групп равны'] = var_change
res['Кол-во наблюдений для прироста смертности'] = cnt_abs


res['Вероятность ошибки mannwhitneyu для кол-ва смертей'] = mannwhitneyu_abs_ls
res['Вероятность ошибки ttest для кол-ва смертей'] = ttest_abs_ls
res['Среднее кол-во смертей за 1 день для вакцинированных'] = x_abs_means
res['Среднее кол-во смертей за 1 день для невакцинированных'] = y_abs_means
res['Разница среднего кол-ва смертей %'] = (np.array(y_abs_means) - np.array(x_abs_means)) / np.array(x_abs_means) * 100

res['Медиана кол-ва смертей за 1 день для вакцинированных'] = x_abs_median
res['Медиана кол-ва смертей за 1 день для невакцинированных'] = y_abs_median
res['Разница медианы кол-ва смертей %'] = (np.array(y_abs_median) - np.array(x_abs_median)) / np.array(x_abs_median) * 100
res['Дисперсии кол-ва смертей групп равны'] = var_abs
res['Кол-во наблюдений для кол-ва смертей'] = cnt_abs

In [37]:
pd.DataFrame().from_dict(res)

,Процент вакцинированных,Вероятность ошибки mannwhitneyu для темпа роста смертности,Вероятность ошибки ttest для темпа роста смертности,Средний прирост смертности за 1 день для вакцинированных,Средний прирост смертности за 1 день для невакцинированных,Разница среднего прироста смертности %,Медианный прирост смертности за 1 день для вакцинированных,Медианный прирост смертности за 1 день для невакцинированных,Разница медианы прироста смертности %,Дисперсии прироста смертности групп равны,Кол-во наблюдений для прироста смертности,Вероятность ошибки mannwhitneyu для кол-ва смертей,Вероятность ошибки ttest для кол-ва смертей,Среднее кол-во смертей за 1 день для вакцинированных,Среднее кол-во смертей за 1 день для невакцинированных,Разница среднего кол-ва смертей %,Медиана кол-ва смертей за 1 день для вакцинированных,Медиана кол-ва смертей за 1 день для невакцинированных,Разница медианы кол-ва смертей %,Дисперсии кол-ва смертей групп равны,Кол-во наблюдений для кол-ва смертей
0,20,5.761522e-261,5.058702e-16,0.321180,0.557925,73.710802,0.042269,0.186393,340.964274,False,"(4548, 11265)",4.241799e-27,7.453257e-32,4175.306728,7064.658233,69.200940,519.0,788.0,51.830443,False,"(4548, 11265)"
1,30,1.370510e-295,1.823421e-17,0.303218,0.557925,84.001422,0.031451,0.186393,492.637465,False,"(3707, 11265)",6.927996e-113,1.577275e-83,2633.068249,7064.658233,168.305170,292.0,788.0,169.863014,False,"(3707, 11265)"
2,40,3.703586e-288,4.940426e-17,0.294287,0.557925,89.585382,0.027651,0.186393,574.091217,False,"(3579, 11265)",2.401594e-154,3.402157e-145,1702.563845,7064.658233,314.942339,249.0,788.0,216.465863,False,"(3579, 11265)"
3,50,1.236999e-285,1.264821e-24,0.249929,0.557925,123.233153,0.023673,0.186393,687.356311,False,"(3459, 11265)",1.484482e-186,7.654294e-176,1341.373518,7064.658233,426.673453,249.0,788.0,216.465863,False,"(3459, 11265)"
4,60,8.774032e-234,8.365518e-17,0.275112,0.557925,102.798838,0.017513,0.186393,964.305685,False,"(2517, 11265)",1.165629e-238,2.090911e-198,1016.157727,7064.658233,595.232447,123.0,788.0,540.650407,False,"(2517, 11265)"
5,70,6.693737e-119,6.241516e-11,0.285569,0.557925,95.373186,0.016540,0.186393,1026.933830,False,"(1057, 11265)",4.109070e-155,6.445704e-214,698.090823,7064.658233,911.997007,111.0,788.0,609.909910,False,"(1057, 11265)"
6,80,4.913750e-05,1.045243e-01,0.935161,0.557925,-40.339138,0.046981,0.186393,296.738096,True,"(148, 11265)",3.284436e-24,9.513147e-259,247.621622,7064.658233,2753.005399,147.0,788.0,436.054422,False,"(148, 11265)"

#### Во всех случаях наиболее показательный индикатор это Разница медианы прироста смертности %, который не подвержен выбросам и сезонности ковида

#### В всех случаях наблюдается значимые различия 2 групп, при этом как в абсолютном так и относительном значении в группе вакцинированные показатель смерности КРАТНО НИЖЕ чем в группе не вакцинированных